# Dependency directories
node_modules

# Environment variables
.env

# Build/Generate directories
build
dist

# Log directories/files
logs
*.log*

# Optional npm cache directory
.npm

# Ignore files
.DS_Store
