@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../../node_modules/toastr/build/toastr.min.css';
@import '../../node_modules/select2/dist/css/select2.min.css';
@import '../../node_modules/react-datepicker/dist/react-datepicker.min.css';

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-top: 70px;
  padding-bottom: 70px;
}

a {
  color: #00B7FF;
}

.form-control {
  border-radius: 0;
  box-shadow: none;
  border-color: #d2d6de;
}

.btn {
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-width: 1px;
}

.navbar-brand {
  padding: 7px 15px;
}

.navbar-brand small {
  display: block;
  text-align: center;
  font-size: 15px;
}

/* Center the spinner */

#spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 100px;
  height: 100px;
  margin: -75px 0 0 -75px;
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
