/*!
 * MERNjs v2.0.0 (http://mern.js.org/)
 * Author Muhammad Mohaiminul Islam <IamMohaiminul>
 */

body {
  padding-top: 120px;
  padding-bottom: 60px;
}

.msg-h1 {
  text-transform: none;
}

.navbar-brand {
  text-transform: none;
}
