/* Login Component CSS declarations go here */
.login-box-body {
  padding: 20px;
  border-top: 0;
  color: #666;
}
.login-box-msg {
  margin: 0;
  text-align: center;
  padding: 0 20px 20px 20px;
}
.login-form-control {
  border-radius: 0;
  box-shadow: none;
  border-color: #d2d6de;
}
.login-form-control:focus {
  box-shadow: none;
}
.login-form-control::-moz-placeholder,
.login-form-control:-ms-input-placeholder,
.login-form-control::-webkit-input-placeholder {
  opacity: 1;
}
.btn.login-btn-flat {
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-width: 1px;
}
